# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
*.parquet
results/
logs/

# OS
.DS_Store
Thumbs.db

*.pkl

# Dataset
adj_mx.pkl

# Temporary/generated figures
metr-la_graph.png

# Keep architecture figure
!Anomaly Detection Pipeline.png